body {
  font-family: "Times New Roman";
}
.fo{
    font-size: 20px;
}
.j {
    font-size: 15px;
    color: gray;
}

a{
    text-decoration:none;
    color: black;
}
.line{
    line-height: 14px;
    font-size: 12px;
}

.list-group-item {
  border: none;
}
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  /* border-style: solid; */
  border-width: 2px;
  color: goldenrod;
}

.navbar .navbar-nav .nav-link {
    color: black;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: goldenrod;
}

.berubah {
  color: black; /* Warna teks awal (hitam) */
  text-decoration: none; /* Menghilangkan dekorasi tautan (misalnya, garis bawah) */
}

/* Efek hover untuk tautan */
.berubah:hover {
  color: goldenrod; /* Warna teks saat dihover (goldenrod) */
}



/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

